@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* APP */

.app {
  margin: 15% auto 25px auto;
  padding: 0 20px;
  width: 75%;
  background-color: #f1f1f1;
  box-shadow: 10px 10px 20px 2px rgba(0,0,0,0.75);
}

.app-title {
  margin: 0;
  padding: 15px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 80px;
  font-size: 7vw;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
}

.app-title > a {
  color: #000000;
  text-decoration: none;
  transition: 0.3s;
}

.app-title > a:hover {
  color: #444444;
}

.app-line {
  margin: 8px auto;
  border-top: 6px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: none;
  border-right: none;
  height: 3px;
}

.date {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

/* CATEGORIES */

.categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 8px;
  background-color: #000000;
}

.category-btn {
  padding: 10px;
  display: inline;
  text-transform: uppercase;
  background-color: #000000;
  border: none;
  font-family: 'Playfair Display', serif;
  font-size: 1em;
  font-weight: bold;
  color: #eeeeee;
  transition: 0.3s;
}

.category-btn:hover, .read-more:hover {
  cursor: pointer;
  background-color: #444444;
  color: #ffffff;
}

.category-btn:focus {
  outline: none;
}

.active {
  background-color: #eeeeee;
  color: #000000;
}

/* ARTICLES */

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.board {
  column-count: 3;
  column-gap: 1em;
}

.article-box {
  display: inline-block;
  margin-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
  transition: 0.3s;
  animation: fadein 2s forwards;
}

.article-title {
  margin: 5px 0;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 900;
  text-align: justify;
}

.article-img {
  min-width: 100%;
  max-width: 100%;
  filter: grayscale(100%);
}

.article-desc {
  font-weight: 700;
  text-align: justify;
}

.article-text {
  font-weight: 500;
  text-align: justify;
}

.article-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.article-src {
  display: inline;
  margin: 5px 0;
  font-size: 10px;
}

.read-more {
  padding: 8px 14px;
  background-color: #000000;
  color: #eeeeee;
  text-transform: uppercase;
  transition: 0.3s;
}

.spinner {
  margin: auto;
  padding: 10%;
  text-align: center;
  animation: fadein 1s infinite alternate;
}

/* MOBILE */

@media screen and (max-width: 1400px) {
  .app {
    width: 80%;
  }

  .board {
    column-count: 2;
  }
}

@media screen and (max-width: 700px) {
  .app {
    width: 90%;
  }

  .app-title {
    font-size: 12vw;
  }

  .board {
    column-count: 1;
  }
}