@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Roboto+Slab:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* APP */

.app {
  margin: 15% auto auto auto;
  width: 75%;
  background-color: #f1f1f1;
  box-shadow: 10px 10px 10px 2px rgba(0,0,0,0.75);
}

.app-header {
  margin: 0 20px;
}

.app-title {
  margin: 0;
  padding: 15px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-size: 7vw;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
}

.app-line {
  border-top: 6px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: none;
  border-right: none;
  height: 3px;
}

.date {
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

/* CATEGORY FILTER */

.categories {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 8px;
  background-color: #000000;
}

.category-btn {
  padding: 10px;
  display: inline;
  text-transform: uppercase;
  background-color: #000000;
  border: none;
  font-size: 12px;
  font-weight: bold;
  color: #eeeeee;
}

.category-btn:hover {
  cursor: pointer;
  background-color: #444444;
}

/* ARTICLES */

.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.article-box {
  box-sizing: border-box;
  padding: 10px 20px;
  width: 33.3%;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
}

.article-box:hover {
  background-color: #ffffff;
}

.article-title {
  text-transform: uppercase;
  font-weight: bold;
}

.article-img {
  max-width: 100%;
  filter: grayscale(100%);
}

.article-desc {
  font-weight: 700;
  text-align: justify;
}

.article-text {
  font-weight: 500;
  text-align: justify;
}

/* MOBILE */

@media screen and (max-width: 1400px) {
  .article-box {
    box-sizing: border-box;
    padding: 10px 20px;
    width: 50%;
  }

  .app {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  .app {
    width: 95%;
  }

  .app-header {
    font-size: 12vw;
  }

  .app-line {
    margin: 0 10px;
  }

  .article-box {
    padding: 10px;
    width: 100%;
  }
}